/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* En-tête */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation */
nav ul {
    background: #444;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #333;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Contenu Principal */
main {
    padding: 20px 40px;
}

main img {
    width: 50%;
}

main ul li {
    margin-left: 30px;
}

.recipe_link {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.recipe_link:hover {
    background-color: #444;
}

.recipe_section {
    padding: 0px;
    margin: auto;
    text-align: start;
}

.recipe-list {
    list-style: none;
    padding-left: 0;
}

.recipe-item::before {
    content: "\2022";
    color: #333;
    margin-right: 5px;
    display: inline;
}

.title {
    padding: 40px 0px;
}

/* Formulaire */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form label {
    font-weight: bold;
}

.form input[type="text"],
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form textarea {
    resize: vertical;
}

.submit-button {
    height: 40px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

/* Pied de page */
footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
